.fl{
  float:left;
}
.fr{
  float: right;
}
.w-40{
  width:40%;
}
.w-80{
  width:80%;
}
.t-center{
  text-align: center;
}
.fl{
  float:left;
}
.fr{
  float: right;
}
.m-b-15{
  margin-bottom:15px;
}
.p-l-26{
  padding-left:26px;
}
.p-l-48{
  padding-left:48px;
}
.p-l-70{
  padding-left:70px;
}
.p-l-85{
  padding-left:85px !important; 
}