.DS_Store
app/dist/*
app/public/
builds/*
dist/*
coverage
node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
advanpro.db*
packages-offline-cache
app/src/renderer/views/device_bak
package-lock.json
advanpro.db*
publish
build
.idea
app/package-lock.json
package-lock.json
app/package-lock.json
undefined